body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cde7ed !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
p,
button {
  color: #0b2b5b !important;
}

header {
  padding: 60px 0;
  background-color: #fff !important;
}

header h3 {
  font-size: 26px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 100px;
}

.container h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

.btn-noStyles {
  all: unset;
  margin: 12px 0 40px 0;
  text-transform: uppercase;
}

.btn-main {
  width: 100%;
  background-color: #0b2b5b;
  color: #fff !important;
  text-transform: uppercase;
  padding: 12px 0;
  border-radius: 34.5px;
  border: none;
}

.btn-danger {
  margin-right: 10px;
}

.disabled {
  background-color: #5274a7;
  cursor: default !important;
  border: none;
}

.single-entry {
  background-color: #fff;
  margin-bottom: 8px;
}

.row.data-row {
  padding: 20px 50px;
}

.collapsed .data-row {
  display: none;
}
.badge-secondary {
  background-color: #25a575;
  border-radius: 0 !important;
  padding: 15px !important;
  margin-right: 16px;
  margin-left: -15px;
}

h5 {
  margin-bottom: 0 !important;
}

.alert-success {
  min-height: 50px;
  background-color: #25a575 !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px !important;
  border-radius: 0px 0px 34.5px 34.5px !important;
}

.alert-success p {
  color: #fff !important;
}

.form-input {
  width: 100%;
  padding: 10px 20px;
  border: 0;
  border-bottom: 1px solid #3a719b;
  margin-bottom: 20px;
}

.form-input::placeholder,
.form-input {
  color: #3a719b;
}

.form-input:focus-visible {
  outline: none !important;
}

.input-container {
  position: relative;
}

.fa-input {
  position: absolute;
  left: 0px;
  top: 5px;
  color: #b8c7cc;
}
